  <br><br>
  <div>Registered Users: <b>{{index .Content.Body 1}}</b></div><br>
  <div>Maintenance Mode: <b><span id="mm" style="{{index .Content.Body 4}}">{{index .Content.Body 2}}</span></b></div>
  <div id="maint" style="cursor:pointer;"><b><span id="maintbtn">{{index .Content.Body 3}}</span></b></div><br>
  <div>Users Registration: <b><span id="ur" style="{{index .Content.Body 7}}">{{index .Content.Body 5}}</span></b></div>
  <div id="ureg" style="cursor:pointer;"><b><span id="uregbtn">{{index .Content.Body 6}}</span></b></div><br>
  <div>Email Confirmation: <b><span id="ec" style="{{index .Content.Body 10}}">{{index .Content.Body 8}}</span></b></div>
  <div id="emc" style="cursor:pointer;"><b><span id="emcbtn">{{index .Content.Body 9}}</span></b></div>
